<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mygento_navigation_api_data_iteminterface_save_before">
        <observer instance="Magento\Framework\EntityManager\Observer\BeforeEntitySave" name="legacy_mygento_navigation_item_before_save"/>
    </event>
    <event name="mygento_navigation_api_data_iteminterface_save_after">
        <observer instance="Magento\Framework\EntityManager\Observer\AfterEntitySave" name="legacy_mygento_navigation_item_after_save"/>
    </event>
    <event name="mygento_navigation_api_data_iteminterface_delete_before">
        <observer instance="Magento\Framework\EntityManager\Observer\BeforeEntityDelete" name="legacy_mygento_navigation_item_before_delete"/>
    </event>
    <event name="mygento_navigation_api_data_iteminterface_delete_after">
        <observer instance="Magento\Framework\EntityManager\Observer\AfterEntityDelete" name="legacy_mygento_navigation_item_after_delete"/>
    </event>
</config>
