<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mygento\Navigation\Model\Source\EntityType">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="custom" xsi:type="string">custom</item>
                <item name="cms_page" xsi:type="string">cms_page</item>
                <item name="cms_block" xsi:type="string">cms_block</item>
                <item name="catalog_product" xsi:type="string">catalog_product</item>
                <item name="catalog_category" xsi:type="string">catalog_category</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Mygento\Navigation\Model\ImageUploader" type="Mygento\Base\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">mygentonav/tmp/item</argument>
            <argument name="basePath" xsi:type="string">mygentonav/item</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mygento\Navigation\Controller\Adminhtml\Item\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Mygento\Navigation\Model\ImageUploader</argument>
        </arguments>
    </type>
    <type name="Mygento\Navigation\Controller\Adminhtml\Item\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Mygento\Navigation\Model\ImageUploader</argument>
        </arguments>
    </type>
</config>