<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mygento\Navigation\Model\Source\EntityType">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="custom" xsi:type="string">custom</item>
                <item name="cms_page" xsi:type="string">cms_page</item>
                <item name="cms_block" xsi:type="string">cms_block</item>
                <item name="catalog_product" xsi:type="string">catalog_product</item>
                <item name="catalog_category" xsi:type="string">catalog_category</item>
            </argument>
        </arguments>
    </type>
</config>